{% extends "layouts/main.jinja2" %}
{% block content %}
    <h1>ProjectKsi</h1>
    <p>
        {{ package }} <br />
        Sad developer! Welcome on ProjectKsi test page, let's make some work.
    </p>
{% endblock %}